body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

/* Navbar Header Primary */
.navbar-header-primary {
  top: 25px;
  height: 35px;
  background-color: #052659;
  border-radius: 20px 20px 0 0;
}

.navbar-menu {
  top: 60px;
}

.navbar-social-medias {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar-social-link i {
  color: #fff;
  font-size: 1.2rem;
}

.navbar-title-primary {
  color: #fff;
  font-size: 1rem;
  font-weight: 800;
  line-height: normal;
  margin: 0;
}

/* Navbar com menu de navegação */
.navbar-menu-nav {
  height: 56px;
  border-radius: 0px 0px 20px 20px;
  background: #c1e8ff;
}

/* Styles navbar menu de navegação mobile */
@media screen and (max-width: 430px) {
  .navbar-header-primary {
    width: 95%;
  }

  .navbar-menu-nav {
    width: 95%;
    background-color: #021024;
    border-radius: 0px 0px 0px 0px;
  }

  .navbar-toggler-icon {
    filter: brightness(0) invert(1);
  }

  .bg-container-styled {
    margin-top: 0.5rem;
    background-color: #021024;
    border-radius: 0px 0px 20px 20px;
  }

  .list-menu-styled {
    gap: 0.5rem !important;
  }

  .link-menu-styled {
    color: #fff !important;
  }
}

/* ------------------- */
/* Seção Banner */
/* ------------------- */

/* Seção banner com a imagem de fundo */
.banner {
  background: url("/assets/images/banner-turtle-verde.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 11rem 8rem 11rem 7rem;
  color: #ffffff;
  height: 80vh;
  width: 100%;
}

.title-banner {
  font-size: 3.75rem;
  font-weight: 700;
}

.text-banner {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: -0.36px;
}

.btn-banner {
  color: #fff;
  background-color: #7da0ca;
}

.bi-arrow-right {
  margin-left: 10px;
}

/* --------------- */
/* Footer */
/* --------------- */

.section-footer {
  background-color: #021024;
}

.btn-footer {
  background-color: #c1e8ff;
}

.title-menu-footer {
  color: #7da0ca;
}

.section-copy {
  background-color: #052659;
}

@media screen and (max-width: 430px) {
  /* Seção Banner Mobile */
  .banner {
    height: 90vh;
    padding: 20px 10px 0 10px;
  }

  .title-banner {
    font-size: 3.125rem;
    font-weight: 600;
    line-height: normal;
  }

  .text-banner {
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
  }

  /* Seção Images & Text */
  .container-styled {
    gap: 30px !important;
    align-items: center !important;
  }

  .img-style {
    width: 100%;
    height: auto;
  }

  .img-style-finished {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }

  /* Seção Cards */
  .section-cards {
    margin-top: 1.25rem !important;
  }

  .container-cards {
    gap: 1.25rem !important;
    align-items: center !important;
  }

  .card-body-styled {
    margin-top: 0.938rem !important;
    padding: 0 !important;
  }
}
