body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

.navbar-menu {
  top: 60px;
}

/* Navbar principal com classes do bootstrap */
.navbar-header-primary {
  top: 25px;
  height: 35px;
  background-color: #052659;
  border-radius: 20px 20px 0 0;
}

.navbar-social-medias {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar-social-link i {
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}

.navbar-title-primary {
  color: #fff;
  font-size: 1rem;
  font-weight: 800;
  line-height: normal;
  margin: 0;
}

/* Navbar com menu de navegação */
.navbar-menu-nav {
  height: 56px;
  border-radius: 0px 0px 20px 20px;
  background: #c1e8ff;
}

/* Styles navbar menu de navegação mobile */
@media screen and (max-width: 430px) {
  .navbar-header-primary {
    width: 90%;
  }

  .navbar-menu-nav {
    width: 90%;
    background-color: #021024;
  }

  .navbar-toggler-icon {
    filter: brightness(0) invert(1);
  }
}

/* ------------------- */
/* Seção Banner */
/* ------------------- */

/* Seção banner com a imagem de fundo */
.banner {
  background: url("/assets/images/tartaruga-cabecuda-2.jpg") no-repeat center
    center;
  background-size: cover;
  background-position: bottom;
  padding: 11rem 8rem 11rem 7rem;
  color: #ffffff;
  height: 80vh;
  width: 100%;
}

.title-banner {
  font-family: "Inter", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  line-height: normal;
}

.text-banner {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
}

.btn-banner {
  color: #fff;
  background-color: #7da0ca;
}

.bi-arrow-right {
  margin-left: 10px;
}

/* ------------------- */
/* Seção Sobre/Textos */
/* ------------------- */
