body {
  font-family: "Montserrat", "Poppins", sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

/* Navbar com menu de navegação */
.navbar-menu-nav {
  height: 150px;
  background: transparent;
}

.navbar-nav {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
}

.navbar .nav-link.active {
  font-weight: 700;
}

/* Media Querie - Navbar */
@media screen and (max-width: 430px) {
  .navbar-menu-nav {
    width: 95%;
    background-color: #021024;
    border-radius: 0px 0px 0px 0px;
  }

  .navbar-toggler-icon {
    filter: brightness(0) invert(1);
  }

  .bg-container-styled {
    margin-top: 0.5rem;
    background-color: #021024;
    border-radius: 0px 0px 20px 20px;
  }

  .list-menu-styled {
    gap: 0.5rem !important;
  }

  .link-menu-styled {
    color: #fff !important;
  }
}

/* ------------------- */
/* Seção Banner */
/* ------------------- */

/* Seção banner com a imagem de fundo */
.banner {
  background: url("../images/images-hmacedo/ipes-house-banner.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 9.375rem;
  height: 50rem;
  width: 100%;
}

.custom-rectangle-side {
  width: 4.6875rem;
  opacity: 0.4;
  background: #6f735f;
  mix-blend-mode: multiply;
}

.custom-rectangle {
  display: flex;
  flex-direction: column;
  max-width: 714px;
  background: #bfbeaa;
  box-shadow: 0px 3px 49px 9px rgba(0, 0, 0, 0.06);
  padding: 2.1875rem 2.4375rem;
  gap: 2.4375rem;
}

.title-banner {
  font-size: 3.4375rem;
  font-weight: 700;
  letter-spacing: -0.06875rem;
  margin: 0;
}

.text-banner {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.563rem;
  margin: 0;
}

.btn-banner {
  color: #fff;
  background-color: #000000;
  font-family: "Poppins", sans-serif;
  padding: 0.625rem 1.25rem;
}

.bi-arrow-right {
  margin-left: 10px;
}

/* ------------------- */
/* Seção Banner Mobile */
/* ------------------- */
@media screen and (max-width: 430px) {
  .banner {
    height: 90vh;
    padding: 20px 10px 0 10px;
  }

  .title-banner {
    font-size: 3.125rem;
    font-weight: 600;
    line-height: normal;
  }

  .text-banner {
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
  }
}

/* ------------------- */
/* Section Services */
/* ------------------- */
.section-services {
  margin-top: 6.25rem;
}

.title-service {
  font-size: 65px;
  font-weight: 700;
}

.separator {
  width: 50px;
  height: 2px;
  background-color: #000;
  stroke-width: 4px;
}

/* --------------- */
/* Footer */
/* --------------- */

.section-footer {
  background-color: #021024;
}

.btn-footer {
  background-color: #c1e8ff;
}

.title-menu-footer {
  color: #7da0ca;
}

.section-copy {
  background-color: #052659;
}
