body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  z-index: 1000;
}

/* Navbar */
.navbar {
  max-width: 1300px;
  margin: 0 auto;
  background-color: #052659;
  border-radius: 20px 20px 0px 0px;
}

/* Navbar Header */
.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 2rem;
}

.navbar-social {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-social-link {
  display: flex;
}

.navbar-title {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #fff;
}

/* Navbar Menu - Navbar abaixo */
.navbar-menu {
  max-width: 1300px;
  margin: 0 auto;
  border-radius: 0px 0px 20px 20px;
  background-color: #c1e8ff;
  display: flex;
}

.navbar-items {
  list-style: none;
  display: flex;
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 1rem;
}

.navbar-link {
  text-decoration: none;
  color: #000000;
  padding: 1rem 1rem;
  transition: background-color 0.3s ease;
}

.navbar-link:hover,
.navbar-link:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

/* ------------------- */
/* Seção Banner */
/* ------------------- */

/* Seção banner com a imagem de fundo */
.banner {
  background: url("/hands-on-work-v/assets/images/tartaruga-oliva.jpg") no-repeat center
    center;
  background-size: cover;
  background-position: bottom;
  padding: 11rem 8rem 11rem 7rem;
  color: #ffffff;
  height: 80vh;
  width: 100%;
}

.heading {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3.75rem;
}

.container-block {
  width: 37.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title-banner {
  font-family: "Inter", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  line-height: normal;
}

.text-banner {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
}
